@model UserGridMvc.Models.UserModel

<h3>User's personal information</h3>
<br />

<div>
    @Html.LabelFor(model => model.Login)
</div>
<div>
    @Html.EditorFor(model => model.Login)
    @Html.ValidationMessageFor(model => model.Login)
</div>

<div>
    @Html.LabelFor(model => model.Name)
</div>
<div>
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div>
    @Html.LabelFor(model => model.Phone)
</div>
<div>
    @Html.EditorFor(model => model.Phone)
    @Html.ValidationMessageFor(model => model.Phone)
</div>

<div>
    @Html.LabelFor(model => model.Email)
</div>
<div>
    @Html.TextBoxFor(model => model.Email, new { @class = "k-textbox", type = "email" })
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div>
    @Html.LabelFor(model => model.Address)
</div>
<div>
    @Html.EditorFor(model => model.Address)
    @Html.ValidationMessageFor(model => model.Address)
</div>

<div>
    @Html.LabelFor(model => model.Status) 
</div>
<div>
    @Html.EditorFor(model => model.Status)
</div>